/* Navigation
--------------------------------------------- */
@import "navigation/utility-navigation";
@import "navigation/main-navigation";
@import "navigation/footer-navigation";
@import "navigation/mobile-nav";

/* Buttons
--------------------------------------------- */
@import "buttons";

/* Circle Icons
--------------------------------------------- */
@import "circle-icons";

/* Hero
--------------------------------------------- */
@import "content/hero";

/* Hamburger
--------------------------------------------- */
@import "hamburger";

/* Library
--------------------------------------------- */
@import "library";

/* Content Blocks
--------------------------------------------- */
@import "content-blocks/content-blocks";

/* Posts and pages
--------------------------------------------- */
@import "content/posts-and-pages";

/* Single Content
--------------------------------------------- */
@import "content/singleContent";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";

/* Call To Actions
--------------------------------------------- */
@import "ctas";

/* Search Form
--------------------------------------------- */
@import "search-form";

/* Customer Successes
--------------------------------------------- */
@import "customer-successes";

/* Product Info
--------------------------------------------- */
@import "product-info";

/* Better Integration
--------------------------------------------- */
@import "better-integration";

/* Integrations
--------------------------------------------- */
@import "integrations";

/* Loading spinner
--------------------------------------------- */
@import "loading";

/* Team Grid
--------------------------------------------- */
@import "team-grid";

/* System Status
--------------------------------------------- */
@import "system-status";

/* Login Form
--------------------------------------------- */
@import "login-form";

/* Landing
--------------------------------------------- */
@import "lp";

/* Forms
--------------------------------------------- */
@import "forms/gravity-forms";

// Password Protection form
.post-password-form {
	max-width: 30rem;
	margin: 5rem auto;
	padding: 0 2rem;
	text-align: center;

	input[name="Submit"] {
		@extend .button--blue;
	}
}