.system-status {
	padding: 2rem;
	text-align: center;

	h2 {
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: $font-weight__bold;
		margin: 0;
	}

	&--online {
		h2 {
			span {
				color: $color__blue;
			}
		}
	}

	&--offline {
		h2 {
			span {
				color: $color__red;
			}
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.support-links-grid {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto 4rem;

	.grid-item {
		flex-basis: (100% / 3);
		background-color: $color__blue;
		color: $color__white;
		padding: 2rem 1.5rem;
		border: 0.75rem solid $color__white;
		@include transition();

		@include respond($bp-hamburger, "down") {
			flex-basis: (100% / 2);
		}

		&:hover {
			background-color: $color__yellow;
			color: $color__text;

			.support {
				&-icon {
					border-color: $color__text;
				}
			}
		}

		.support {
			&-icon {
				font-size: 3rem;
				border-radius: 50%;
				width: 4rem;
				height: 4rem;
				border: 2px solid $color__white;
				line-height: 1.25;
				margin-bottom: 1rem;
				@include transition();
				overflow: hidden;
			}

			&-title {
				font-size: 1.5rem;
				font-weight: $font-weight__bold;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			&-text {
				font-size: 1.15rem;
				line-height: 1.25;
			}
		}

		&:link,
		&:visited {
			color: $color__white;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color__text;
		}
	}
}